<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Account Type</title>
</head>
<body>
    <h1>Account Type</h1>
    <form action="/accountType" method="post">
        <h3>Are You A Company Or A Worker ?</h3>
        <div class="company">
            <button value="company" name="type" type="submit">Company</button>
        </div>
        <div class="worker">
            <button value="worker" name="type" type="submit">Worker</button>
        </div>
    </form>
</body>
</html>