<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <title>Choose Account Type</title>
</head>

<body>
  <h1>Account Type</h1>
  <p class="errors"></p>
  <form action="/accountType" method="post" id="choose-type-form">
    <h3>Are You A Company Or A Worker ?</h3>
    <div>
      <input type="radio" id="company" name="type" value="company">
      <label for="company">Company</label>
    </div>
    <div>
      <input type="radio" id="worker" name="type" value="worker">
      <label for="worker">Worker</label>
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
  </form>
</body>

</html>