<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="./styles.css">
  <script src="./script.js" defer></script>
  <title>Account Settings</title>
</head>

<body>
  <h1>Account Settings</h1>
  <div class="loading">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
  
  <fieldset>
    <legend>Account</legend>
    <img src="<%= picture %>" alt="<%= name %> picture" width="100" height="100" draggable="false">
    <p id="messages"></p>
    <form action="/settings/username" method="post" id="info-form">
      <div>
        <label for="username">Username</label>
        <input type="text" id="input-name" name="input-name" pattern="[a-zA-Z]{4,30}" value="<%= name %>" required disabled>
        <button type="button" id="edit-button">Edit</button>
        <button type="button" id="cancel-button">Cancel</button>
        <button type="submit" id="save-button">Save</button>
      </div>
    </form><br>
  </fieldset>
</body>

</html>